In [1]:
import pandas as pd
from safegraph_py_functions import safegraph_py_functions as sgpy
import os
from dotenv import load_dotenv, find_dotenv
from loguru import logger
import zipfile
import tarfile

In [2]:
# find .env automagically by walking up directories until it's found
dotenv_path = find_dotenv()

# load up the entries as environment variables
load_dotenv(dotenv_path)
os.chdir(os.environ.get("ROOT_DIR"))
from src import DATA_DIR
raw_data_dir = DATA_DIR / 'raw'

In [3]:
census_path = DATA_DIR / 'raw' / 'open-census-data'
census_archive = census_path / 'safegraph_open_census_data.tar.gz'
census_archive_str = str(census_archive.resolve())
with tarfile.open(census_archive) as tar_ref:
    tar_ref.extractall(census_archive_str[:-7])

In [4]:
files = [file for file in census_path.glob('**/cbg_b02.csv')]

In [5]:
df = pd.read_csv(files[0])

In [6]:
df.head()

,census_block_group,B02001e1,B02001m1,B02001e2,B02001m2,B02001e3,B02001m3,B02001e4,B02001m4,B02001e5,...,C02003e15,C02003m15,C02003e16,C02003m16,C02003e17,C02003m17,C02003e18,C02003m18,C02003e19,C02003m19
0,10010201001,745,226,585,198,160,140,0,11,0,...,0,11,0,11,0,11,0,11,0,11
1,10010201002,1265,232,1083,222,104,75,0,11,9,...,8,14,0,11,21,33,0,11,0,11
2,10010202001,960,261,361,179,568,195,0,11,0,...,18,30,0,11,0,11,0,11,0,11
3,10010202002,1236,227,615,154,571,168,0,11,24,...,0,11,0,11,0,11,0,11,0,11
4,10010203001,2364,378,1481,314,515,197,22,34,27,...,5,10,0,11,56,95,0,11,0,11

In [7]:
set(col[:6] for col in df.columns if col.startswith('B02'))

{'B02001', 'B02008', 'B02009', 'B02010', 'B02011', 'B02012', 'B02013'}

In [8]:
descriptions = pd.read_csv([file for file in census_path.glob('**/cbg_field_descriptions.csv')][0])

In [9]:
descriptions[descriptions['table_id'].apply(lambda x: x.startswith('B02001'))]

,table_id,field_full_name,field_level_1,field_level_2,field_level_3,field_level_4,field_level_5,field_level_6,field_level_7,field_level_8
164,B02001e1,RACE: Total: Total population -- (Estimate),Race,Total,Total Population -- (Estimate),NaN,NaN,NaN,NaN,NaN
165,B02001e10,RACE: Two or more races: Two races excluding S...,Race,Two Or More Races,"Two Races Excluding Some Other Race, And Thre...",Total Population -- (Estimate),NaN,NaN,NaN,NaN
166,B02001e2,RACE: White alone: Total population -- (Estimate),Race,White Alone,Total Population -- (Estimate),NaN,NaN,NaN,NaN,NaN
167,B02001e3,RACE: Black or African American alone: Total p...,Race,Black Or African American Alone,Total Population -- (Estimate),NaN,NaN,NaN,NaN,NaN
168,B02001e4,RACE: American Indian and Alaska Native alone:...,Race,American Indian And Alaska Native Alone,Total Population -- (Estimate),NaN,NaN,NaN,NaN,NaN
169,B02001e5,RACE: Asian alone: Total population -- (Estimate),Race,Asian Alone,Total Population -- (Estimate),NaN,NaN,NaN,NaN,NaN
170,B02001e6,RACE: Native Hawaiian and Other Pacific Island...,Race,Native Hawaiian And Other Pacific Islander Alone,Total Population -- (Estimate),NaN,NaN,NaN,NaN,NaN
171,B02001e7,RACE: Some other race alone: Total population ...,Race,Some Other Race Alone,Total Population -- (Estimate),NaN,NaN,NaN,NaN,NaN
172,B02001e8,RACE: Two or more races: Total population -- (...,Race,Two Or More Races,Total Population -- (Estimate),NaN,NaN,NaN,NaN,NaN
173,B02001e9,RACE: Two or more races: Two races including S...,Race,Two Or More Races,Two Races Including Some Other Race,Total Population -- (Estimate),NaN,NaN,NaN,NaN
174,B02001m1,RACE: Total: Total population -- (Margin of Er...,Race,Total,Total Population -- (Margin Of Error),NaN,NaN,NaN,NaN,NaN
175,B02001m10,RACE: Two or more races: Two races excluding S...,Race,Two Or More Races,"Two Races Excluding Some Other Race, And Thre...",Total Population -- (Margin Of Error),NaN,NaN,NaN,NaN
176,B02001m2,RACE: White alone: Total population -- (Margin...,Race,White Alone,Total Population -- (Margin Of Error),NaN,NaN,NaN,NaN,NaN
177,B02001m3,RACE: Black or African American alone: Total p...,Race,Black Or African American Alone,Total Population -- (Margin Of Error),NaN,NaN,NaN,NaN,NaN
178,B02001m4,RACE: American Indian and Alaska Native alone:...,Race,American Indian And Alaska Native Alone,Total Population -- (Margin Of Error),NaN,NaN,NaN,NaN,NaN
179,B02001m5,RACE: Asian alone: Total population -- (Margin...,Race,Asian Alone,Total Population -- (Margin Of Error),NaN,NaN,NaN,NaN,NaN
180,B02001m6,RACE: Native Hawaiian and Other Pacific Island...,Race,Native Hawaiian And Other Pacific Islander Alone,Total Population -- (Margin Of Error),NaN,NaN,NaN,NaN,NaN
181,B02001m7,RACE: Some other race alone: Total population ...,Race,Some Other Race Alone,Total Population -- (Margin Of Error),NaN,NaN,NaN,NaN,NaN
182,B02001m8,RACE: Two or more races: Total population -- (...,Race,Two Or More Races,Total Population -- (Margin Of Error),NaN,NaN,NaN,NaN,NaN
183,B02001m9,RACE: Two or more races: Two races including S...,Race,Two Or More Races,Two Races Including Some Other Race,Total Population -- (Margin Of Error),NaN,NaN,NaN,NaN